// Body
$body-bg: rgb(180, 216, 221);

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;


#next-btn {
    position: relative;
    padding-left: 40px;
    padding-right: 40px;
    float: right;
    border-radius: 10px;
    text-align: center;
    background-color: rgb(89, 89, 226);
    color: white;
    text-shadow: 1px 1px 2px black;

}

#text-field {
    border-radius: 10px;
    box-shadow: 
        inset 0 -3em 3em rgba(255, 255, 255, 0.1);
      
}
#text-field-title {
    color: black;
    font-weight: bolder;
}

  #my-card {
    background-color: #b3d2ec;
    border-radius: 15px;
  }

.my-card-header, #my-card-body {
      background-color: #dae1e7;
  }

  #mybreak {
      margin-bottom: 5px;
  }

  #mycol {
    background-color: white;
  }
 
  #mycol {
      margin-top: 150px;
      padding: 2px;
      border-radius: 15px;
      box-shadow: 
       inset 0 -3em 3em rgba(0,0,0,0.1), 
             0 0  0 2px rgb(255,255,255),
             0.3em 0.3em 1em rgba(0,0,0,0.5);
  }

#card-heading {
    text-shadow: 1px 1px 2px black;
    color: rgba(255, 255, 255, 0.842);
    background-color: rgb(243, 186, 0);
    padding: 15px;
    border-radius: 15px;
}